# Gitignore sirve para indicar a git, que ficheros debe de hacer seguimiento
# y por lo tanto no subir a GitHub

#------ variables
.env

# archivos del sistema
Thumbs.db

# dependencias
node_modules/

# carpetas build
dist/
build/

# logs
# npm-debug.log*
